@keyframes Im_the_Boss{
    0% {
    transform: rotateY(0deg) scaleY(0);
    opacity: 0;
    }
    24% {
    transform: rotateY(120deg) scaleY(.4);
    opacity: .3;
    }
    46% {
    transform: rotateY(240deg) scaleY(.81);
    opacity: .7;
    }
    100% {
    transform: rotateY(360deg) scaleY(1);
    opacity: 1;
    }
    }

body{
    font-family: 'Nunito', sans-serif;
    margin: none;
    display: flex;
    max-width: 100%;
}

.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav{
    border: 1.5px black solid;
    width: 20%;
    height: 100%;
    padding: 0px 4px;
    text-align: center;
    animation: Im_the_Boss 1s;
}

nav h1{
    text-align: center;
    font-size: 2rem;
}

nav img {
    width: 80%;
    border-radius: 50%;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    }

nav p{
    font-weight: bold;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav ul li {
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    transition: transform 300ms;
    border: 2px #ff6363 solid;
    background-color: #ff6363

}

/*agrandissement des lien à leur survol*/
nav ul li:hover{
    transform: scale(1.2);
    background: radial-gradient(#ff6363, #ffc663, #d3ff63, #4c4cd5);
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

/*modification couleur du lien à son survol*/
nav ul li:hover a{
    color: blue;
    transition-delay: 300ms;
}

section{
    border: 2px white solid;
    width: 80%;
}

section h2{
    font-size: 1.75rem;
}

section a{
    color: #ff6363;
}

.article1{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.article1 img{
    width: 200px;
    margin-right: 30px;
}

.article1 ul{
    padding: 15px;
    margin: 5px;
}

.article1 p{
    font-size: 0.8rem;
    margin: 5px;
}

.article2{
    display: flex;
    flex-direction: row;
}

.article2 img{
    width: 200px;
    margin-right: 30px;
}
.article2 ul{
    padding: 0px;
    margin: 5px;
}

.article2 div ul li{
    list-style: none;
}

.article2 p{
    font-weight: bold;
}

.article3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article3 form{
    display: flex;
    width: 80%;
    justify-content: space-between;
}




.article3 form label{
    font-weight: bold;
 }

.left select{
    border: none;
    margin-left: 20px;
}

.right textarea{
    border: none;
}

.right div, .left div{
    display: flex;
    justify-content: space-between;
}

/*Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px,
écrire les paramètres pour changer la couleur de mes paragraphes, la
taille de police, et le background-color*/

@media screen and (max-device-width:480px){
   body{
    display: flex;
    flex-direction: column;
    }
    .main{
     display: flex;
     flex-direction: column;
     }
    nav{
     width: 100%;
     }

    section{
        width: 100%;
        justify-content: center;
    }

    .article1{
     flex-direction: column;
     width: 100%;
     }

     .article1 img{
        justify-content: center;
     }

    .article2{
     flex-direction: column;
     }
    .article3{
     flex-direction: column;
     }
    .article3 form{
     flex-direction: column;
     margin-left: 2rem;
     }

    a{
        margin-left: 2rem;
    }
}




